

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 12px 16px;

  border-radius: $br8;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;

  &:visited{
    text-decoration: none;
  }

  @include font-body(14-caps);
  border: none;
  @include transition();
  color: $cl-grey-900;
  background: $gr-gold;
  & svg{
    fill: $cl-white-800;
  }
  &:hover{
    background: $gr-gold-hover;
  }
  &:disabled{
    opacity: 0.32;
    pointer-events: none;
    &:hover{
      background: $gr-gold;
    }
  }
}
// ! button small
.button.small{
  padding: 8px 12px;
}
// ! button second
.button.second{
  background: rgba(238, 194, 33, 0.08);
  color: $cl-yellow-400;
  @include font-body(14-med);
  text-transform: none;
  &:hover{
    background:rgba(238, 194, 33, 0.14);

  }
  &:disabled{
    opacity: 0.32;
    pointer-events: none;
    &:hover{
      background: rgba(238, 194, 33, 0.08);
    }
  }
}
// ! button text
.button.text{

  background: $gr-gold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include font-body(14-med);
  text-transform: none;

  &:hover{
    background: $gr-gold-hover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:disabled{
    opacity: 0.32;
    pointer-events: none;
    background: $gr-gold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover{
      background: $gr-gold;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}