.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid $cl-white-75;
  background: $bg-elem;
  backdrop-filter: blur(12.5px);

  &__logo {
    width: 105px;
    height: 26px;
  }

  &__button-box {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  @include media-query(mob) {
    &__logo {
      width: 140px;
      height: 34px;
    }
  }
  @include media-query(tab) {
    &__logo {
      width: 180px;
      height: 44px;
    }

  }
  @include media-query(desk) {
    &__logo {
      width: 160px;
      height: 40px;
    }
    &__button-box {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 8px;
    }
  }
  @include media-query(deskL) {
    &__logo {
      width: 180px;
      height: 44px;
    }
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 320px) and (max-width: 744px) {
    width: 100%;
  }
}

// ! Burger btn
.header__burger-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  $size: 36px;
  width: $size;
  min-width: $size;
  height: $size;
  border-radius: 8px;
  background-color: $bg-elem;
  border: none;
  cursor: pointer;
  @include transition();

  &::before {
    content: "";
    display: inline-flex;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.75 4.5C1.75 4.22386 1.97386 4 2.25 4H15.75C16.0261 4 16.25 4.22386 16.25 4.5C16.25 4.77614 16.0261 5 15.75 5H2.25C1.97386 5 1.75 4.77614 1.75 4.5ZM1.75 9C1.75 8.72386 1.97386 8.5 2.25 8.5H15.75C16.0261 8.5 16.25 8.72386 16.25 9C16.25 9.27614 16.0261 9.5 15.75 9.5H2.25C1.97386 9.5 1.75 9.27614 1.75 9ZM10 13.5C10 13.2239 10.2239 13 10.5 13H15.75C16.0261 13 16.25 13.2239 16.25 13.5C16.25 13.7761 16.0261 14 15.75 14H10.5C10.2239 14 10 13.7761 10 13.5Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &.show {
    background-color: $cl-white-900;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.64645 2.64645C2.84171 2.45118 3.15829 2.45118 3.35355 2.64645L9 8.29289L14.6464 2.64645C14.8417 2.45118 15.1583 2.45118 15.3536 2.64645C15.5488 2.84171 15.5488 3.15829 15.3536 3.35355L9.70711 9L15.3536 14.6464C15.5488 14.8417 15.5488 15.1583 15.3536 15.3536C15.1583 15.5488 14.8417 15.5488 14.6464 15.3536L9 9.70711L3.35355 15.3536C3.15829 15.5488 2.84171 15.5488 2.64645 15.3536C2.45118 15.1583 2.45118 14.8417 2.64645 14.6464L8.29289 9L2.64645 3.35355C2.45118 3.15829 2.45118 2.84171 2.64645 2.64645Z' fill='%23111111'/%3E%3C/svg%3E");
    }
  }

  &.isHidden {
    display: none;
  }

  @include media-query(desk) {
    display: none;
    &:hover {
      background-color: lighten($bg-elem, 5%);
    }
    &.show {
      &:hover {
        background-color: darken($cl-white-900, 25%);
      }
    }
  }


}

// ! search section
.header__search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  &__modal {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;


    display: none;
    flex-direction: column;
    height: calc(100vh - 68px);
    width: 100%;
    padding: 16px;
    gap: 12px;
    background-color: $bg-main;

  }

  &--results {
    overflow-y: auto;
    max-height: calc(100vh - 159px);
  }

  @include media-query(desk) {
    position: relative;
    &__modal {
      top: 110%;
      left: auto;
      width: 348px;
      min-width: 348px;
      height: 320px;
      border-radius: $br8;
      border: 1px solid $cl-white-200;
      background: $bg-elem;
    }
    &-btn:hover {
      & .header__search__modal {
        display: flex;
      }
    }
    & .header__search-btn.close-btn {
      display: none !important;
      visibility: hidden;
      opacity: 0;
    }
  }
}

.header__search.show {
  & .header__search__modal {
    display: flex;
  }

  & .header__search-btn.close-btn {
    display: flex;
  }
}

.header__search--results {
  &__title {
    @include font-body(14-caps);
    color: $cl-white-300;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
  }

  &__link {
    padding: 8px 16px;
    @include font-body(14-reg);
    @include transition();
    border-radius: $br8;
    cursor: pointer;

    &:hover {
      background-color: $cl-white-50;
    }

    & a {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 1;
    }
  }
}

.header__search-btn {
  @extend .header__burger-btn;

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.875 2C6.31685 2 4.82252 2.61897 3.72075 3.72075C2.61897 4.82252 2 6.31685 2 7.875C2 9.43315 2.61897 10.9275 3.72075 12.0293C4.82252 13.131 6.31685 13.75 7.875 13.75C9.42774 13.75 10.9171 13.1353 12.0178 12.0407C12.0225 12.0356 12.0273 12.0306 12.0323 12.0256C12.0368 12.0211 12.0415 12.0166 12.0462 12.0122C13.1374 10.9121 13.75 9.42514 13.75 7.875C13.75 6.31685 13.131 4.82252 12.0293 3.72075C10.9275 2.61897 9.43315 2 7.875 2ZM13.0795 12.367C14.1535 11.1229 14.75 9.52969 14.75 7.875C14.75 6.05164 14.0257 4.30295 12.7364 3.01364C11.447 1.72433 9.69836 1 7.875 1C6.05164 1 4.30295 1.72433 3.01364 3.01364C1.72433 4.30295 1 6.05164 1 7.875C1 9.69836 1.72433 11.447 3.01364 12.7364C4.30295 14.0257 6.05164 14.75 7.875 14.75C9.53225 14.75 11.1278 14.1516 12.3728 13.0745L15.3961 16.1032C15.5912 16.2987 15.9078 16.299 16.1032 16.1039C16.2987 15.9088 16.299 15.5922 16.1039 15.3968L13.0795 12.367Z' fill='%23ffffff'/%3E%3C/svg%3E");

  }

  &.show {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.875 2C6.31685 2 4.82252 2.61897 3.72075 3.72075C2.61897 4.82252 2 6.31685 2 7.875C2 9.43315 2.61897 10.9275 3.72075 12.0293C4.82252 13.131 6.31685 13.75 7.875 13.75C9.42774 13.75 10.9171 13.1353 12.0178 12.0407C12.0225 12.0356 12.0273 12.0306 12.0323 12.0256C12.0368 12.0211 12.0415 12.0166 12.0462 12.0122C13.1374 10.9121 13.75 9.42514 13.75 7.875C13.75 6.31685 13.131 4.82252 12.0293 3.72075C10.9275 2.61897 9.43315 2 7.875 2ZM13.0795 12.367C14.1535 11.1229 14.75 9.52969 14.75 7.875C14.75 6.05164 14.0257 4.30295 12.7364 3.01364C11.447 1.72433 9.69836 1 7.875 1C6.05164 1 4.30295 1.72433 3.01364 3.01364C1.72433 4.30295 1 6.05164 1 7.875C1 9.69836 1.72433 11.447 3.01364 12.7364C4.30295 14.0257 6.05164 14.75 7.875 14.75C9.53225 14.75 11.1278 14.1516 12.3728 13.0745L15.3961 16.1032C15.5912 16.2987 15.9078 16.299 16.1032 16.1039C16.2987 15.9088 16.299 15.5922 16.1039 15.3968L13.0795 12.367Z' fill='%23111111'/%3E%3C/svg%3E");

    }
  }

  @include media-query(desk) {
    display: flex;
  }

  &.close-btn {
    display: none;

    &:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.64645 2.64645C2.84171 2.45118 3.15829 2.45118 3.35355 2.64645L9 8.29289L14.6464 2.64645C14.8417 2.45118 15.1583 2.45118 15.3536 2.64645C15.5488 2.84171 15.5488 3.15829 15.3536 3.35355L9.70711 9L15.3536 14.6464C15.5488 14.8417 15.5488 15.1583 15.3536 15.3536C15.1583 15.5488 14.8417 15.5488 14.6464 15.3536L9 9.70711L3.35355 15.3536C3.15829 15.5488 2.84171 15.5488 2.64645 15.3536C2.45118 15.1583 2.45118 14.8417 2.64645 14.6464L8.29289 9L2.64645 3.35355C2.45118 3.15829 2.45118 2.84171 2.64645 2.64645Z' fill='%23ffffff'/%3E%3C/svg%3E");
    }
  }

}


//! NAVIGATION
@media (max-width: 1279px) {
  .header__nav {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;

    display: none;
    flex-direction: column;
    height: calc(100vh - 68px);
    width: 100%;
    padding: 16px 0;
    gap: 12px;
    background-color: $bg-main;
  }

  .header__nav.show {
    display: flex;
  }
  .header__nav--item__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  .header__nav--item {
    &--name {
      padding: 12px 16px;
      @include font-body(14-reg);
      color: $cl-white-900;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 1;
      white-space: nowrap;
    }

    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      $size: 40px;
      width: $size;
      min-width: $size;
      height: $size;

      position: relative;
      border: none;
      background: none;

      &::before {
        content: '';
        display: inline-block;
        $size: 16px;
        width: $size;
        height: $size;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.80317 2.13569C5.09606 1.84279 5.57093 1.84279 5.86383 2.13569L11.1972 7.46902C11.3378 7.60967 11.4168 7.80044 11.4168 7.99935C11.4168 8.19826 11.3378 8.38903 11.1972 8.52968L5.86383 13.863C5.57093 14.1559 5.09606 14.1559 4.80317 13.863C4.51027 13.5701 4.51027 13.0952 4.80317 12.8024L9.60617 7.99935L4.80317 3.19635C4.51027 2.90345 4.51027 2.42858 4.80317 2.13569Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E");
        background-size: contain;
      }
    }
  }
  // ? dropdown
  .header__nav--dropdown-list {
    display: none;
    flex-direction: column;
  }
  .header__nav--dropdown-item {
    padding: 12px 16px;
    @include font-body(14-reg);
    color: $cl-white-900;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    white-space: nowrap;
  }
  // ? dropdown show
  .header__nav--item.show {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    padding: 16px 0;
    width: 100%;
    height: 100%;

    background-color: $bg-main;

    & .header__nav--dropdown-list {
      display: flex;
    }

    & .header__nav--item__category {
      flex-direction: row-reverse;
      justify-content: flex-end;
      padding: 0 16px;
    }

    & .header__nav--item--btn {
      border-radius: $br8;
      background-color: $cl-white-50;
      transform: rotate(180deg);
    }

    & .header__nav--item--name {
      padding: 12px 0;

    }
  }
}

@media (max-width: 744px) {
  .header__button-box {
    & .header__language-switcher {
      display: none;
      min-width: fit-content;
      visibility: hidden;
      opacity: 0;
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }
  .header__nav--switcher-box {
    padding: 0 16px;
    width: fit-content;

    & .select {
      min-width: fit-content;
    }

    & .select__dropdown {
      right: auto;
      min-width: fit-content;
    }

    & .select__dropdown-item {
      white-space: nowrap;
    }
  }
}

@media (min-width: 744px) {
  .header__nav {
    .header__nav--switcher-box {
      display: none;
      visibility: hidden;
      opacity: 0;
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }

  .header__button-box {
    & .header__language-switcher {
      display: block;
      min-width: fit-content;
      visibility: unset;
      opacity: 1;
      width: fit-content;
      height: fit-content;
      overflow: unset;
    }

    & .select__dropdown {
      left: auto;
      min-width: fit-content;
    }

    & .select__dropdown-list {
      min-width: 200px;

    }
  }
}

@media (min-width: 1280px) {

  .header__nav--list {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .header__nav--item {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: $br8;
    @include transition();

    &__category {
      position: relative;
      display: flex;
      align-items: center;
    }

    &--name {
      display: inline-flex;
      @include font-body(14-reg);
      padding: 6px 30px 6px 10px;
    }

    &--btn {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);

      display: flex;
      align-items: center;
      justify-content: center;
      $size: 12px;
      width: $size;
      min-width: $size;
      height: $size;
      padding: 0;
      background: none;
      border: none;
      outline: none;
      @include transition();

      &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.64645 4.14645C1.84171 3.95118 2.15829 3.95118 2.35355 4.14645L6 7.79289L9.64645 4.14645C9.84171 3.95118 10.1583 3.95118 10.3536 4.14645C10.5488 4.34171 10.5488 4.65829 10.3536 4.85355L6.35355 8.85355C6.15829 9.04882 5.84171 9.04882 5.64645 8.85355L1.64645 4.85355C1.45118 4.65829 1.45118 4.34171 1.64645 4.14645Z' fill='%23ffffff' fill-opacity='0.44'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &:not(:has(.header__nav--dropdown-list)) {
      & .header__nav--item--name {
        padding: 6px 10px;
      }
    }

    &:hover {
      background: $cl-white-50;

      & .header__nav--item--btn {
        transform: translateY(-50%) rotate(180deg);

        &::before {
          content: "";
          display: inline-block;
          width: 12px;
          height: 12px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.64645 4.14645C1.84171 3.95118 2.15829 3.95118 2.35355 4.14645L6 7.79289L9.64645 4.14645C9.84171 3.95118 10.1583 3.95118 10.3536 4.14645C10.5488 4.34171 10.5488 4.65829 10.3536 4.85355L6.35355 8.85355C6.15829 9.04882 5.84171 9.04882 5.64645 8.85355L1.64645 4.85355C1.45118 4.65829 1.45118 4.34171 1.64645 4.14645Z' fill='%23ffffff' /%3E%3C/svg%3E");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      & .header__nav--dropdown-list {
        max-height: fit-content;
        opacity: 1;
        padding: 8px 0;
      }
    }
  }
  .header__nav--dropdown-list {
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 10000;

    max-height: 0;
    opacity: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    padding: 0;

    background-color: $bg-elem;
    border: 1px solid $cl-white-200;
    border-radius: $br8;
    @include transition();
  }
  .header__nav--dropdown-item {
    @include font-body(14-reg);
    color: $cl-white-900;
    padding: 8px 16px;
    cursor: pointer;
    @include transition();

    &:hover {
      background: $cl-white-50;
    }
  }
}

// switcher
.header__language-switcher {
  & .select__dropdown-item {
    padding-right: 38px;
    position: relative;
    white-space: nowrap;

    &.active {
      background-color: transparent;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.147 2.92385C12.4652 3.18903 12.5082 3.66195 12.243 3.98016L6.40966 10.9802C6.27476 11.142 6.07799 11.2397 5.86748 11.2492C5.65698 11.2588 5.45217 11.1794 5.30317 11.0303L1.80317 7.53035C1.51027 7.23746 1.51027 6.76258 1.80317 6.46969C2.09606 6.1768 2.57093 6.1768 2.86383 6.46969L5.7831 9.38896L11.0907 3.01988C11.3558 2.70167 11.8288 2.65868 12.147 2.92385Z' fill='url(%23paint0_linear_316_45653)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_316_45653' x1='1.5835' y1='6.98129' x2='12.4168' y2='6.98129' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F0C645'/%3E%3Cstop offset='0.495' stop-color='%23FAF283'/%3E%3Cstop offset='1' stop-color='%23EBC944'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;

      }
    }

  }
}