html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  scroll-behavior: auto;
}


body {
  font-family: $font-family;
  font-style: normal;
  color: $cl-white-900;
  background-color: $bg-main;
  letter-spacing: 0.5px;
  margin: 0;
  position: relative;

  &.white {
    background-color: #FFFFFF;
  }

}

main {
  position: relative;
  width: 100%;
  margin-top: 70px;
  @include media-query(desk) {
    margin-top: 75px;
  }
}


body.modal-open {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}


.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 9;


  min-height: 14em;
  max-height: 14em;
}


.skeleton {
  transition: transform 0.15s cubic-bezier(0.11, 0, 0.5, 0);
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0) 60%) rgba(117, 117, 117, 0.5);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.section__header {
  margin-bottom: 24px;

  & h2 {
    color: $cl-white-900;
    @include font-title(h2-mob);
    margin-bottom: 12px;
  }

  & p {
    color: $cl-white-700;
    @include font-body(14-reg);

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  & ul {

  }

  &.center {
    text-align: center;
  }

  @include media-query(tab) {
    margin-bottom: 32px;

    & h2 {
      @include font-title(h2);
      margin-bottom: 16px;
    }
    & p {
      @include font-body(18-reg);

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

  }
}


.marked, .section__header ul,.contentSection ul {
  display: flex;
  flex-direction: column;
  gap: 12px;

  color: $cl-white-900;
  @include font-body(16-med);

  & li {
    position: relative;
    display: inline-flex;

    &::before {
      margin-top: 3px;
      margin-right: 8px;

      display: inline-block;
      width: 17px;
      height: 17px;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Ccircle cx='8.0332' cy='8.04779' r='8' fill='%231A9F3E'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1016 4.61309C12.5259 4.96665 12.5832 5.59722 12.2297 6.0215L8.42015 10.5929C8.24028 10.8088 7.97791 10.939 7.69724 10.9517C7.41657 10.9644 7.14349 10.8585 6.94482 10.6598L4.6591 8.37413C4.26858 7.98361 4.26858 7.35044 4.6591 6.95992C5.04963 6.5694 5.68279 6.5694 6.07332 6.95992L7.58473 8.47133L10.6932 4.74113C11.0468 4.31685 11.6774 4.25953 12.1016 4.61309Z' fill='%23ffffff'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
    }

  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media-query(desk) {
    color: $cl-white-900;
    @include font-body(18-med);
  }
}

.sub-title, h2 {
  color: $cl-white-900;
  @include font-title(h2-mob);

  @include media-query(tab) {
    @include font-title(h2);
  }
}

.sub-title--desc {
  color: $cl-white-700;
  @include font-body(14-reg);

  @include media-query(tab) {
    @include font-body(18-reg);
  }

}

section.container {
  margin-top: 48px;
  margin-bottom: 48px;
  @include media-query(tab) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

section.grey {
  padding: 24px 0;
  background-color: $bg-elem;

  @include media-query(tab) {
    padding: 64px 0;
  }

}


blockquote {
  border-radius: $br12;
  background: rgba(137, 236, 163, 0.08);
  padding: 16px 24px;
  margin: 0 0 24px;

  & p, & a, & h1, & h2, & h3, & h4, & h5, & h6 {
    color: $cl-white-900;
    @include font-title(h3-mob);
  }

  @include media-query(tab) {
    padding: 32px 48px;
    margin: 0 0 48px;
    & p, & a, & h1, & h2, & h3, & h4, & h5, & h6 {
      @include font-title(h3);
    }
  }
}
