@font-face {
	font-family: HostGrotesk;
	font-display: swap;
	src: url("../fonts/HostGrotesk-Black.woff2") format("woff2"), url("../fonts/HostGrotesk-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: HostGrotesk;
	font-display: swap;
	src: url("../fonts/HostGrotesk-BoldItalic.woff2") format("woff2"), url("../fonts/HostGrotesk-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: HostGrotesk;
	font-display: swap;
	src: url("../fonts/HostGrotesk-Light.woff2") format("woff2"), url("../fonts/HostGrotesk-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: HostGrotesk;
	font-display: swap;
	src: url("../fonts/HostGrotesk-LightItalic.woff2") format("woff2"), url("../fonts/HostGrotesk-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: HostGrotesk;
	font-display: swap;
	src: url("../fonts/HostGrotesk-Medium.woff2") format("woff2"), url("../fonts/HostGrotesk-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: HostGrotesk;
	font-display: swap;
	src: url("../fonts/HostGrotesk-MediumItalic.woff2") format("woff2"), url("../fonts/HostGrotesk-MediumItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: HostGrotesk;
	font-display: swap;
	src: url("../fonts/HostGrotesk-Regular.woff2") format("woff2"), url("../fonts/HostGrotesk-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HostGrotesk;
	font-display: swap;
	src: url("../fonts/HostGrotesk-BlackItalic.woff2") format("woff2"), url("../fonts/HostGrotesk-BlackItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: HostGrotesk;
	font-display: swap;
	src: url("../fonts/HostGrotesk-Bold.woff2") format("woff2"), url("../fonts/HostGrotesk-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: HostGrotesk;
	font-display: swap;
	src: url("../fonts/HostGrotesk-Italic.woff2") format("woff2"), url("../fonts/HostGrotesk-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
