* {
  scrollbar-width: auto;
  scrollbar-color: $gr-gold transparent;

  &::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {

    border-radius: 100px;
    background: inherit;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 0 none #fff;
    background: $gr-gold;
    transition: all 280ms ease-in-out;

    &:hover {
      background: $gr-gold-hover;
    }
  }
}