.casino-games{
  margin-top: 48px;
  margin-bottom: 48px;

  @include media-query(tab){
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.casino-games__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  @include media-query(tab){}
}
.casino-games__list__item{
  flex:  1 0 calc(50% - 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;

  border-radius: $br12;
  background-color: $cl-white-25;
  @include media-query(tab){
    flex:  1 0 calc(25% - 16px);
  }
  @include media-query(desk){
    flex:  1 calc(12.5% - 16px);
    max-width: calc(12.5% - 16px);
  }
}