.contentSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
  @include media-query(tab) {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-bottom: 100px;
    &.pos-top {
      align-items: start;
    }
  }
  @include media-query(desk) {
    flex-direction: row;
    gap: 64px;
  }
}

.contentSection div {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 6px;
  @include media-query(desk) {
    flex: 1 0 calc(50% - 64px);
  }
}

.contentSection h2 {
  color: $cl-white-900;
  @include font-title(h2-mob);
  margin-bottom: 12px;

  @include media-query(tab) {
    @include font-title(h2);
  }
}

.contentSection p {
  color: $cl-white-700;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  @include font-body(14-reg);
  @include media-query(tab) {
    @include font-body(16-reg);
  }
}


.contentSection img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 280px;

  object-fit: cover;
  object-position: center;
  margin: 0;
  border-radius: $br12;

  @include media-query(tab) {
    border-radius: $br16;
  }
  @include media-query(desk) {
    width: 100%;
    height: 476px;
    max-width: 580px;
    max-height: 476px;
  }
}

.contentSection.smallImg {
  align-items: start;

  & div:first-child {
    flex: 1;
  }

  & div:last-child {
    flex: 1;
    max-width: 400px;

    & img {
      max-width: 400px;
      max-height: 420px;
    }
  }

}

.contentSection.table-center {
  display: flex;
  flex-direction: column;
  gap: 0;


  & .table__wrapper, & table {
    max-width: 1000px;
    margin: 0 auto;
  }

  @include media-query(tab) {
    margin: 0 auto 100px;
    & .table__wrapper, & table {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}

.contentSection blockquote {
  padding: 16px 24px;
  height: 100%;
  margin-bottom: 0;
  border-radius: $br16;
  background: $cl-white-0;

  & p, & a, & h1, & h2, & h3, & h4, & h5, & h6 {
    color: $cl-white-900;
    @include font-body(24-bold);

    background: $gr-gold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include media-query(tab) {
    padding: 64px 44px;
    margin: 0;
    & p, & a, & h1, & h2, & h3, & h4, & h5, & h6 {
      @include font-body(24-bold);
    }
    & a {
      text-decoration: underline;
      position: relative;
      @include transition();

      &:before {
        content: " ";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: $gr-gold;
      }

      &:hover {
        background: $gr-gold-hover;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:before {
          background: $gr-gold-hover;
        }
      }
    }
  }
}

.contentSection.greenBg {
  border-radius: $br12;
  padding: 12px 24px;
  background: rgba(137, 236, 163, 0.08);
}