.hero{
  padding: 24px 16px 32px;
  &__wrapper{

  }
  &__title{
    color: $cl-white-900;
    @include font-title(h1-mob);
    margin-bottom: 12px;
  }
  &__desc{
    color: $cl-white-700;
    @include font-body(14-reg);
    margin-bottom: 8px;
  }
  &__btn{
    width: fit-content;
    margin-bottom: 32px;
    & svg{
      @include transition();
    }
    &.show{
      & svg{
        transform: rotate(180deg);
      }
    }
  }
  @include media-query(tab){
    padding: 82px 16px;
    &__wrapper{
      display:flex;
      flex-direction: column;
      align-items: center;
      max-width: 1000px;
      margin: 0 auto;
    }
    &__title, &__desc{
      text-align: center;
    }

  }
  @include media-query(desk){
    &__title{
      @include font-title(h1);
      margin-bottom: 24px;
    }
    &__desc{
      @include font-body(18-reg);
    }
  }
}
.hero__info{
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding:12px 16px;
  margin-bottom: 12px;

  border-radius: $br12;
  background-color: $cl-white-0;

  &--text{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: $cl-white-900;
    @include font-body(16-med);
    &-label{
      color: $cl-white-500;
      @include font-body(14-reg);
    }
  }
  &--checked{

    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: $cl-green-400;
    @include font-body(16-med);
    & span{
      display: inline-flex;
    }
  }
  @include media-query(tab){
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin: 0 auto 12px;
    padding:12px 24px;

    flex-wrap: wrap;
    &--text.author{
      order: 1;
    }
    &--checked{
      order: 2;
    }
    &--text.update{
      order: 3;
    }
  }
}

.hero__hidden-box{
  max-height: 0;
  overflow: hidden ;

  $transitionHeight:  max-height 0.5s ease-out;
  -webkit-transition: $transitionHeight;
  -moz-transition: $transitionHeight;
  -o-transition: $transitionHeight;
  transition: $transitionHeight;
  &.show{
    max-height:  2000px;
    //закрытие
    $transitionHeight: max-height 0.8s ease;
    -webkit-transition: $transitionHeight;
    -moz-transition: $transitionHeight;
    -o-transition: $transitionHeight;
    transition: $transitionHeight;
  }
}