.text-img-box{
  display: flex;
  flex-direction: column;
  gap: 32px;
  @include media-query(desk){
    flex-direction: row;
    gap: 64px;
  }
}
.text-img-box__content{
  display: flex;
  flex-direction: column;
  gap: 14px;
  & p{
    color: $cl-white-600;
    @include font-body(16-reg);
  }
  & ul{
    display: flex;
    flex-direction: column;
    gap: 12px;

    color: $cl-white-900;
    @include font-body(16-med);

    & li{
      position: relative;
      &::before {
        margin-top: 5px;
        margin-right: 8px;
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Ccircle cx='8.0332' cy='8.04779' r='8' fill='%231A9F3E'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1016 4.61309C12.5259 4.96665 12.5832 5.59722 12.2297 6.0215L8.42015 10.5929C8.24028 10.8088 7.97791 10.939 7.69724 10.9517C7.41657 10.9644 7.14349 10.8585 6.94482 10.6598L4.6591 8.37413C4.26858 7.98361 4.26858 7.35044 4.6591 6.95992C5.04963 6.5694 5.68279 6.5694 6.07332 6.95992L7.58473 8.47133L10.6932 4.74113C11.0468 4.31685 11.6774 4.25953 12.1016 4.61309Z' fill='%23ffffff'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
      }

    }
  }
  @include media-query(desk){
    gap: 16px;
    & p{
      @include font-body(14-reg);
    }
    & ul{
      color: $cl-white-900;
      @include font-body(18-med);

    }
  }
}
.text-img-box__img{
  flex: 1;
  @include media-query(desk){
    flex: 1 0 400px;
    width: 400px;
    height: 337px;
  }
}