<!-- Бар для первой секции-->
<!-- ! Набор для Hero секции, блок с рейтингом не обязателен -->
<div class='top-info-bar__labels'>
  <div class='top-info-bar__labels--item author'>
    <p class='top-info-bar__labels--item--name'>Author:</p>
    <p class='top-info-bar__labels--item--value'>Grace Tennet
    </p>
  </div>
  <div class='top-info-bar__labels--item update'>
    <p class='top-info-bar__labels--item--name'>Update:</p>
    <p class='top-info-bar__labels--item--value'>October 2, 2024</p>

  </div>
  <div class='top-info-bar__labels--item checked'>
						<span>
							<svg width='16' height='16'>
								<use href='./img/icons/icons.svg#checked'></use>
							</svg>
						</span>
    <p class='top-info-bar__labels--item--value'>Fact Checked</p>
    <div class='top-info-bar__labels--item__dropdown'>
      <div class='top-info-bar__labels--item__dropdown--wrapper'>
        <p>All the information in this page was checked by:</p>
        <div class='author'>
          <img src='./img/demoImg/photo02.webp' alt='Lucas Hurley' width='32' height='32'>
          <p>Lucas Hurley</p>
        </div>
      </div>
    </div>
  </div>
  <div class='top-info-bar__labels--casino-rating '>
    <div class='top-info-bar__labels--item '>
      <p class='top-info-bar__labels--item--name'>Rating:</p>
      <div class='rating' data-hero-rating>
        <label for='radio-1' aria-label='Rating 1'>
          <input type='radio' name='rating' id='radio-1' class='sr-only'>
        </label>
        <label for='radio-2' aria-label='Rating 2'>
          <input type='radio' name='rating' id='radio-2' class='sr-only'>
        </label>
        <!--        checked-->
        <label for='radio-3' aria-label='Rating 3'>
          <input type='radio' name='rating' id='radio-3' class='sr-only' checked>
        </label>
        <label for='radio-4' aria-label='Rating 4'>
          <input type='radio' name='rating' id='radio-4' class='sr-only'>
        </label>
        <label for='radio-5' aria-label='Rating 5'>
          <input type='radio' name='rating' id='radio-5' class='sr-only'>
        </label>
      </div>
    </div>
    <div class='top-info-bar__labels--item rating-voted'>
      <p class='top-info-bar__labels--item--name'>Players voted:</p>
      <p class='top-info-bar__labels--item--value' data-hero-rating-voted>12
      </p>
    </div>
  </div>
</div>

<!-- ! обычный бар для других блоков-->
<!--<div class='top-info-bar__labels'>-->
<!--  <div class='top-info-bar__labels&#45;&#45;item'>-->
<!--    <p class='top-info-bar__labels&#45;&#45;item&#45;&#45;name'>Time:</p>-->
<!--    <p class='top-info-bar__labels&#45;&#45;item&#45;&#45;value'>4 minutes</p>-->
<!--  </div>-->
<!--  <div class='top-info-bar__labels&#45;&#45;item'>-->
<!--    <p class='top-info-bar__labels&#45;&#45;item&#45;&#45;name'>Supply:</p>-->
<!--    <p class='top-info-bar__labels&#45;&#45;item&#45;&#45;value'>Choosing Online Casino Using Our Source</p>-->
<!--  </div>-->
<!--  <div class='top-info-bar__labels&#45;&#45;item'>-->
<!--    <p class='top-info-bar__labels&#45;&#45;item&#45;&#45;name'>Tools:</p>-->
<!--    <p class='top-info-bar__labels&#45;&#45;item&#45;&#45;value'>NZCasinoHEX</p>-->
<!--  </div>-->
<!--</div>-->